################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/OpenFrp.Launcher/bin/Debug/net462
/src/OpenFrp.Launcher/obj
/src/.vs/OpenFrp
