################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/OpenFrp.Launcher/bin/Debug/net462
/src/OpenFrp.Launcher/obj
/src/.vs/OpenFrp
/src/.vs/ProjectEvaluation
/src/OpenFrp.Core/bin/Debug/net462
/src/OpenFrp.Core/obj
/src/OpenFrp.Core.Libraries/bin/Debug/net462
/src/OpenFrp.Core.Libraries/Pipe/PipeStream.cs
/src/OpenFrp.Core.Libraries/obj
/src/OpenFrp.Core.Libraries/bin/Release/net462
/src/OpenFrp.Core/bin/Release/net462
/src/OpenFrp.Launcher/bin/Release/net462
/src/OpenFrp.Launcher/Properties/PublishProfiles/FolderProfile.pubxml.user
/.gitignore
